.wp-block-embed {
    iframe {
        display: block;
        width: 100%;
        border: 0;
    }
}

.wp-embed-aspect-16-9 {
    .wp-block-embed {
        &__wrapper {
            aspect-ratio: 16 / 9;
        }
    }

    iframe {
        height: 100%;
    }
}